
.login-btn {
    background-color: #0d0d0d;
    color: #d4f000;
    border: 2px solid #0d0d0d;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    letter-spacing: 0.2em;
    padding: 16px 24px 13px;
    transition: .2s all linear;
    cursor: pointer;

    &:hover {
        background-color: #d4f000;
        color: #0d0d0d;
    }
}
