@import "tailwindcss";

.toast-success {
    background-color: black !important;
    color: #f0ece4 !important;
    border-radius: 0 !important;
    box-shadow: 0px 0px 2px white !important;
}

.toast-info {
    color: white !important;
    border-radius: 0 !important;
    box-shadow: 0px 0px 2px white !important;
    filter: invert(1) hue-rotate(180deg);
}

